@import url("https://fonts.googleapis.com/css?family=Dosis:200, 300");
@import url("https://fonts.googleapis.com/css?family=Nunito:300");
@import url("https://fonts.googleapis.com/css?family=Lato:300italic");
html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #152c33;
  font-family: "Nunito", Helvetica, Roboto, Arial, sans-serif;
  color: #a4dee6;
  font-size: 1.3rem;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  font-family: "Dosis", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 200;
  font-size: 3.5rem;
  letter-spacing: 1rem;
  color: #6f9a9f;
}

h2 {
  font-size: 2rem;
}

h3, h4,
p:first-of-type {
  max-width: 40rem;
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

p {
  max-width: 40rem;
  line-height: 2.3rem;
}

blockquote,
figure,
ol,
ul {
  margin: 0 auto;
  padding: 0;
}

main,
li {
  display: block;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: .3s;
}

a {
  text-decoration: none;
}

.a-body {
  border: 1px solid #6f9a9f;
  padding: .1rem .4rem .1rem .4rem;
}

.a-body:hover {
  color: #6f9a9f;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

#TopNav {
  height: 75px;
  width: 100%;
  background: #152c33;
  z-index: 5;
  overflow: hidden;
}

.logo {
  margin-top: -.8rem;
  padding: 0 .3rem 0 .3rem;
  opacity: .7;
}

.logo:hover {
  opacity: 1;
}

.top-nav-ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  font-family: "Dosis", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.7rem;
  color: #6f9a9f;
  padding: 1.7rem 1rem 1.7rem 1rem;
}

.top-nav-li a {
  padding: 1.7rem 1rem 1.7rem 1rem;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #152c33 50%, #ffa800 50%);
  transition: background-position 0.5s ease-out;
  background-position: 0 0%;
}

.top-nav-li a:hover {
  background-position: 0 100%;
  color: #152c33;
}

.top-nav-out a {
  color: #152c33;
  background: #ffa800;
}

#SubAnimate {
  position: relative;
  z-index: 4;
}

#SubNav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  background: #ffa800;
}

.sub-nav-li {
  font-family: "Lato", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  padding: 1.5rem .5rem 1.5rem .5rem;
  color: #152c33;
}

.sub-nav-li:hover {
  color: #152c33;
}

.splash-div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.splash-big-txt {
  position: absolute;
  margin-left: -450px;
  left: 50%;
  width: 900px;
  top: 8rem;
  font-family: "Dosis", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 200;
  font-size: 15rem;
  line-height: 13rem;
  text-align: center;
  color: #152c33;
  z-index: 3;
}

.grow-div {
  position: absolute;
  z-index: 2;
}

#aboutme,
#aboutcv,
#aboutcnt {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  padding: 3.3rem 3rem 0 3rem;
}

.intro-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.3rem 3rem 0 3rem;
}

#SwfAutoIntro,
#SwfCusIntro,
#SwfMediaIntro,
#SwfMiscIntro,
#SwfAjax {
  opacity: 0;
}

.swf-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0 0 0;
}

.swf-bars-txt {
  text-align: center;
  color: #6f9a9f;
}

.swf-left {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  opacity: .5;
}

.swf-left:hover {
  opacity: 1;
}

.swf-bars-ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.swf-bars-li a {
  padding: .9rem .5rem .5rem .5rem;
  margin: 0 .1rem 0 .1rem;
  background: #173038;
}

.swf-bars-li a:hover {
  background: #6f9a9f;
}

.swf-bars-out a {
  padding: .9rem .5rem .5rem .5rem;
  margin: 0 .1rem 0 .1rem;
  background: #a4dee6;
}

.swf-right {
  opacity: .5;
}

.swf-right:hover {
  opacity: 1;
}

.swf-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 2rem 0 2rem;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swf-head:first-line {
  line-height: 2.5rem;
}

.swf-head {
  font-family: "Dosis", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 200;
  font-size: 3.3rem;
  text-align: right;
}

.swf-body {
  padding: 0 3rem 0 3rem;
}

#SwfTranz {
  opacity: 0;
}

.swf-text {
  width: auto;
  line-height: 2rem;
  margin-top: -.5rem;
}

#techgames,
#techgrok,
#techlove,
#techhate {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  padding: 3.3rem 3rem 0 3rem;
}

#MainContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 4;
}

#footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: black;
  margin-top: 6rem;
  padding: 3rem 3rem 6rem 3rem;
}

.foot-top {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

@media only screen and (max-width: 1050px) {
  /*.splash-big-txt {
    width: 750px;
    top: 7rem;
    margin-left:-375px;
    font-size: 14rem;
  }*/
  .swf-cont {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 3rem;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
  }
  .swf-head {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    font-family: "Dosis", Helvetica, Roboto, Arial, sans-serif;
    font-size: 3.3rem;
    padding: 0 0 2rem 0;
  }
  .swf-body {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 3rem 0 3rem;
  }
  .swf-text {
    padding: 0 0 2rem 3rem;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 35px;
    height: 35px;
    margin-top: -.65rem;
    padding: 0 .5rem 0 .5rem;
  }
  .top-nav-ul {
    font-size: 1.5rem;
    padding: 1.2rem .2rem 1.2rem .2rem;
  }
  #SubNav {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .sub-nav-li {
    border-top: 1px solid #152c33;
    width: 100%;
    padding: .5rem 0 .5rem 6rem;
  }
  .splash-big-txt {
    width: 500px;
    top: -7.5rem;
    margin-left: -250px;
    font-size: 10rem;
  }
  .swf-cont {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 1rem;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
  }
  .swf-text {
    padding: 0 0 2rem 0;
    text-align: center;
  }
  .swf-bars-li a {
    padding: 0;
    margin: 0;
  }
  .swf-bars-out a {
    padding: 0;
    margin: 0;
  }
}

/*@media all and (max-width: 450px) {
  .logo {
    width: 25px;
    height: 25px;
    margin-top: -.65rem;
    padding: 0 .5rem 0 .5rem;
  }
  #TopNav {
    height: 50px;
    background: $bgColor;
    z-index: 2;
    align-items: center;
    overflow: hidden;
  }
  .top-nav-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: $dosis;
    font-size: 1.2rem;
    padding: 1.2rem .2rem 1.2rem .2rem;

  }
  #SubNav{
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    //flex: 1 0 auto;
    justify-content: space-around;
    align-items: center;
    background: $subColor;

  }
  .sub-nav a {
    font-family: $dosis;
    font-size: 1rem;
    padding: 1rem .5rem 1rem .5rem;
    &:hover {
      color: $headerColor;
    }
  }
}*/
